.statelist {
  background-color: rgb(158, 231, 207);
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
}

.item {
  width: 120px;
  padding: 20px;
}

.item:not(:last-child) {
  border-right: 1px solid black;
}

.label {
  font-size: 14px;
  margin-right: 5px;
}
